*,
*::before,
*::after {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    height: 100vh;
}



.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.inline {
    display: grid;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}





.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: rgb(90, 144, 243);
    border: 2px solid black;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    transition-duration: 0.2s;
}

.btn:hover {
    border: 3px solid blue;
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
}

.correct-or-wrong {
    font-size: 30px;
}

.correct-or-wrong.correct {
    color: rgb(0, 182, 0);
    
}

.correct-or-wrong.wrong {
    color: rgb(182, 0, 0);
    
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

